*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920px * 10px);

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %description-16;
  font-family: $font-suisse-bp;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

button {
  background: none;
  color: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}
