*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  @extend %cover;
  font-size: calc(100vw / 1920px * 10px);

  background: $color-contessa;
  color: $color-quarter-spanish-white;
  overflow: hidden;
  position: fixed;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %cover;
  @extend %description-16;

  font-family: $font-suisse-bp;
  position: fixed;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

button {
  background: none;
  color: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  opacity: 0;
  transition: opacity 0.4s ease;
  vertical-align: middle;

  &.loaded {
    opacity: 1;
  }
}

.content {
  @extend %cover;
}
[data-animation='label'],
[data-animation='paragraph'],
[data-animation='title'] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
